.courses {
  background-image: url("../images/courses.png");
  h2 {
    color: $main-color;
    font-size: 3.5rem;
  }
  h3 {
    color: $main-color;
    font-weight: bold;
    font-size: 3rem;
  }
  .carousel-control-prev, .carousel-control-next{
      width: 1% !important;
  }
  .carousel-item {
    img {
      width: 100%;
    }
    .content {
      color: #fff;
      ul {
        dt {
          list-style-type: disc;
        }
      }
    }
  }
}
