.schedule {
  .nav-pills {
    .nav-link {
      color: $second-color;
    }
  }
  .nav-pills {
    .nav-link {
      &.active {
        background-color: $main-color;
        border-radius: 0;
        color: #fff;
      }
    }
  }
}
