.trainers {
  .item {
    min-height: 450px;
    .img-tr {
      img {
        min-height: 450px;
      }
    }
    .content {
      width: 100%;
      height: 100%;
      background-color: rgba($second-color-rgb, 0.8);
      top: 100%;
      color: $main-color;
      transition: all 1s;
      a {
        color: inherit;
        &:hover {
          color: #fff;
        }
      }
    }
    &:hover {
      .content {
        transition: all 1s;
        top: 75%;
      }
    }
  }
}
