.video{
    background-image: url("../images/banner.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .video-title{
        font-size: 5rem;
        color: #eee;
    }
    .video-title2{
        font-size: 4rem;
        color: $main-color;
    }
}