section.mt-5.about#about
    .container
        .row
            .col-12.col-lg-6.order-2.order-lg-1
                h2.main-title About Us
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                .row.item.p-3.my-3.mr-3.ml-0
                    .col-3
                        img(src=imgdir+"body.png", alt="")
                    .col-9
                        h6 Lose Weight
                        p Get your best body ever. Our trainers will build your perfect cardio workout.
                .row.item.p-3.my-3.ml-3.ml-0
                    .col-9
                        h6 Build Muscle
                        p Stay motivated. Our personal trainers will help you find a perfect workout.
                    .col-3
                        img(src=imgdir+"biceps.png", alt="")
                .row.item.p-3.my-3.mr-3.ml-0
                    .col-3
                        img(src=imgdir+"size.png", alt="")
                    .col-9
                        h6 Be ATHLETIC WOMEN
                        p Improve your body strength. Join our group trainings and get in shape fast.

            .col-12.col-lg-6.order-1.order-lg-2
                img(src=imgdir+"about.png" alt="" class="")