section.courses.py-5#courses
    div(id="courses-carousel" class="carousel slide" data-ride="carousel")
        .carousel-inner.container.mb-3
            h2.mb-5 Our Course
            .carousel-item.active
                .row
                    .col-12.col-lg-4
                        img(src=imgdir+"cors1.jpg" alt="alt").w-100
                    .col-12.col-lg-8.content
                        h3 Fitness 101
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae perferendis veniam nam omnis deserunt quibusdam numquam quod, illum alias repellendus quos dolores aspernatur at cum enim recusandae reprehenderit laudantium explicabo.
                            ul
                                dt You could accomplish the same thing by writing an HTML tag
                                dd.pl-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                dt accomplish the same thing by writing an HTML tag
                                dd.pl-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.                       
            .carousel-item
                .row
                    .col-12.col-lg-4
                        img(src=imgdir+"cors2.jpg" alt="alt").w-100
                    .col-12.col-lg-8.content
                        h3 KETTLEBELL
                        dt You could accomplish the same thing by writing an HTML tag
                            dd.pl-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            dt accomplish the same thing by writing an HTML tag
                            dd.pl-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.                       

            .carousel-item
                .row
                    .col-12.col-lg-4
                        img(src=imgdir+"cors3.jpg" alt="alt").w-100
                    .col-12.col-lg-8.content
                        h3 ADVANCED GYMNASTICS
                        ul
                            dt You could accomplish the same thing by writing an HTML tag
                            dd.pl-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            dt accomplish the same thing by writing an HTML tag
                            dd.pl-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.                       
        ol.carousel-indicators.position-relative
            li(data-target="#courses-carousel" data-slide-to="0" class="active")
            li(data-target="#courses-carousel" data-slide-to="1")
            li(data-target="#courses-carousel" data-slide-to="2")