section.schedule#schedule
    .container
        h2.second-title Time Table
        ul(class="nav nav-pills mb-5 font-weight-bold justify-content-center w-100" id="pills-tab" role="tablist")
            li(class="nav-item mr-4")
                a(class="nav-link active" id="pills-sunday-tab" data-toggle="pill" href="#pills-sunday" role="tab" aria-controls="pills-sunday" aria-selected="true") SUNDAY
            li(class="nav-item mr-4")
                a(class="nav-link" id="pills-monday-tab" data-toggle="pill" href="#pills-monday" role="tab" aria-controls="pills-monday" aria-selected="false") MONDAY
            li(class="nav-item mr-4")
                a(class="nav-link" id="pills-tuseday-tab" data-toggle="pill" href="#pills-tuseday" role="tab" aria-controls="pills-tuseday" aria-selected="false") TUESDAY
            li(class="nav-item mr-4")
                a(class="nav-link" id="pills-WEDNESDAY-tab" data-toggle="pill" href="#pills-WEDNESDAY" role="tab" aria-controls="pills-WEDNESDAY" aria-selected="false") WEDNESDAY
            li(class="nav-item mr-4")
                a(class="nav-link" id="pills-THURSDAY-tab" data-toggle="pill" href="#pills-THURSDAY" role="tab" aria-controls="pills-THURSDAY" aria-selected="false") THURSDAY
            li(class="nav-item mr-4")
                a(class="nav-link" id="pills-FRIDAY-tab" data-toggle="pill" href="#pills-FRIDAY" role="tab" aria-controls="pills-FRIDAY" aria-selected="false") FRIDAY
        div(class="tab-content mb-5" id="pills-tabContent")
            div(class="tab-pane fade show active" id="pills-sunday" role="tabpanel" aria-labelledby="pills-sunday-tab")
                .row
                    .col-4.border.border-top-0.border-left-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s1.png" alt="")
                            h5.second-color INTERMIDIATE
                            h6.main-color (ANNA)
                    .col-4.border.border-top-0.border-left-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s2.png" alt="")
                            h5.second-color TRX
                            h6.main-color (ANNA)
                    .col-4.border.border-top-0.border-right-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s3.png" alt="")
                            h5.second-color immediate
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-left-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s2.png" alt="")
                            h5.second-color Spinning
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-left-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s4.png" alt="")
                            h5.second-color INTERMIDIATE
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-right-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s1.png" alt="")
                            h5.second-color immediate
                            h6.main-color (ANNA)
            div(class="tab-pane fade" id="pills-monday" role="tabpanel" aria-labelledby="pills-monday-tab")
                .row
                    .col-4.border.border-top-0.border-left-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s4.png" alt="")
                            h5.second-color INTERMIDIATE
                            h6.main-color (ANNA)
                    .col-4.border.border-top-0.border-left-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s2.png" alt="")
                            h5.second-color TRX
                            h6.main-color (ANNA)
                    .col-4.border.border-top-0.border-right-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s3.png" alt="")
                            h5.second-color immediate
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-left-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s1.png" alt="")
                            h5.second-color Spinning
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-left-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s4.png" alt="")
                            h5.second-color INTERMIDIATE
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-right-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s1.png" alt="")
                            h5.second-color immediate
                            h6.main-color (ANNA)
            div(class="tab-pane fade" id="pills-tuseday" role="tabpanel" aria-labelledby="pills-tuseday-tab")
                .row
                    .col-4.border.border-top-0.border-left-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s1.png" alt="")
                            h5.second-color INTERMIDIATE
                            h6.main-color (ANNA)
                    .col-4.border.border-top-0.border-left-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s2.png" alt="")
                            h5.second-color TRX
                            h6.main-color (ANNA)
                    .col-4.border.border-top-0.border-right-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s2.png" alt="")
                            h5.second-color immediate
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-left-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s3.png" alt="")
                            h5.second-color Spinning
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-left-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s4.png" alt="")
                            h5.second-color INTERMIDIATE
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-right-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s1.png" alt="")
                            h5.second-color immediate
                            h6.main-color (ANNA)
            div(class="tab-pane fade" id="pills-WEDNESDAY" role="tabpanel" aria-labelledby="pills-WEDNESDAY-tab")
                .row
                    .col-4.border.border-top-0.border-left-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s4.png" alt="")
                            h5.second-color INTERMIDIATE
                            h6.main-color (ANNA)
                    .col-4.border.border-top-0.border-left-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s2.png" alt="")
                            h5.second-color TRX
                            h6.main-color (ANNA)
                    .col-4.border.border-top-0.border-right-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s3.png" alt="")
                            h5.second-color immediate
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-left-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s1.png" alt="")
                            h5.second-color Spinning
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-left-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s4.png" alt="")
                            h5.second-color INTERMIDIATE
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-right-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s1.png" alt="")
                            h5.second-color immediate
                            h6.main-color (ANNA)
            div(class="tab-pane fade" id="pills-THURSDAY" role="tabpanel" aria-labelledby="pills-THURSDAY-tab")
                .row
                    .col-4.border.border-top-0.border-left-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s4.png" alt="")
                            h5.second-color INTERMIDIATE
                            h6.main-color (ANNA)
                    .col-4.border.border-top-0.border-left-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s2.png" alt="")
                            h5.second-color TRX
                            h6.main-color (ANNA)
                    .col-4.border.border-top-0.border-right-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s3.png" alt="")
                            h5.second-color immediate
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-left-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s1.png" alt="")
                            h5.second-color Spinning
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-left-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s4.png" alt="")
                            h5.second-color INTERMIDIATE
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-right-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s1.png" alt="")
                            h5.second-color immediate
                            h6.main-color (ANNA)
            div(class="tab-pane fade" id="pills-FRIDAY" role="tabpanel" aria-labelledby="pills-FRIDAY-tab")
                .row
                    .col-4.border.border-top-0.border-left-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s1.png" alt="")
                            h5.second-color INTERMIDIATE
                            h6.main-color (ANNA)
                    .col-4.border.border-top-0.border-left-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s2.png" alt="")
                            h5.second-color TRX
                            h6.main-color (ANNA)
                    .col-4.border.border-top-0.border-right-0.text-center.p-3
                        .justify-content-center.w-100
                            img(src=imgdir+"s3.png" alt="")
                            h5.second-color immediate
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-left-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s2.png" alt="")
                            h5.second-color Spinning
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-left-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s4.png" alt="")
                            h5.second-color INTERMIDIATE
                            h6.main-color (ANNA)
                    .col-4.border.border-bottom-0.border-right-0.text-center.p-5
                        .justify-content-center.w-100
                            img(src=imgdir+"s1.png" alt="")
                            h5.second-color immediate
                            h6.main-color (ANNA)
                    