section.testimonials#testimonials
    div(id="testimonials-carousel" class="carousel slide mt-5 container" data-ride="carousel")
        .carousel-inner.pt-3
            h2.mb-5.main-title Testimonials
            .carousel-item.active
                .row.align-items-center.h-100.w-100.text-center
                    .justify-content-center.w-100
                        .justify-content-center
                            img(src=imgdir+"testimonials-img-1-1.jpg" alt="alt").rounded-circle.item-img
                        .content
                            h4.my-3.main-color Tahmid Alom 
                            p Sed cursus sed dui a aliquet. Mauris purus nunc, pretium et lectus sit amet, rhoncus hendrerit dui. Sed euismod dolor id risus volutpat posuere.
            .carousel-item
                .row.align-items-center.h-100.w-100.text-center
                    .justify-content-center.w-100
                        .justify-content-center
                            img(src=imgdir+"testimonials-img-2.jpg" alt="alt").rounded-circle.item-img
                        .content
                            h4.my-3.main-color RUTH EDWARDS
                            p Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla nibh.
            .carousel-item
                .row.align-items-center.h-100.w-100.text-center
                    .justify-content-center.w-100
                        .justify-content-center
                            img(src=imgdir+"testimonials-img-3-1.jpg" alt="alt").rounded-circle.item-img
                        .content
                            h4.my-3.main-color Jahn Smith
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .carousel-item
                .row.align-items-center.h-100.w-100.text-center
                    .justify-content-center.w-100
                        .justify-content-center
                            img(src=imgdir+"testimonials-img-4-1.jpg" alt="alt").rounded-circle.item-img
                        .content
                            h4.my-3.main-color Jecy deoko
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
        a(class="carousel-control carousel-control-prev" href="#testimonials-carousel" role="button" data-slide="prev")
            ion-icon(name="arrow-back-outline").main-color
        a(class="carousel-control carousel-control-next" href="#testimonials-carousel" role="button" data-slide="next")
            ion-icon(name="arrow-forward-outline").main-color