section.trainers.m-3#trainers
    .container
        h2.main-title Trainers
        .row
            .col-12.col-lg-4.mb-5
                .position-relative.overflow-hidden.item
                    .img-tr
                        img(src=imgdir+"trainer1.jpg", alt="alt").w-100.h-100
                    .position-absolute.content.p-3.text-center
                        h3 JOHN SMITH
                            ul.pt-3
                                li.d-inline-block.pr-2
                                    a(href="#")
                                        ion-icon(name="logo-facebook")
                                li.d-inline-block.pr-2
                                    a(href="#")
                                        ion-icon(name="logo-twitter")
                                li.d-inline-block.pr-2
                                    a(href="#")
                                        ion-icon(name="logo-instagram")
                                li.d-inline-block
                                    a(href="#")
                                        ion-icon(name="logo-whatsapp")
            .col-12.col-lg-4.mb-5
                .position-relative.overflow-hidden.item
                    .img-tr
                        img(src=imgdir+"trainer2.jpg", alt="alt").w-100.h-100
                    .position-absolute.content.p-3.text-center
                        h3 RACHEL ADAM
                            ul.pt-3
                                li.d-inline-block.pr-2
                                    a(href="#")
                                        ion-icon(name="logo-facebook")
                                li.d-inline-block.pr-2
                                    a(href="#")
                                        ion-icon(name="logo-twitter")
                                li.d-inline-block.pr-2
                                    a(href="#")
                                        ion-icon(name="logo-instagram")
                                li.d-inline-block
                                    a(href="#")
                                        ion-icon(name="logo-whatsapp")
            .col-12.col-lg-4.mb-5
                .position-relative.overflow-hidden.item
                    .img-tr
                        img(src=imgdir+"trainer3.jpg", alt="alt").w-100.h-100
                    .position-absolute.content.p-3.text-center
                        h3 BLACK T
                            ul.pt-3
                                li.d-inline-block.pr-2
                                    a(href="#")
                                        ion-icon(name="logo-facebook")
                                li.d-inline-block.pr-2
                                    a(href="#")
                                        ion-icon(name="logo-twitter")
                                li.d-inline-block.pr-2
                                    a(href="#")
                                        ion-icon(name="logo-instagram")
                                li.d-inline-block
                                    a(href="#")
                                        ion-icon(name="logo-whatsapp")
