section.video
    .container.h-100
        .row.align-items-center.h-100.w-100.text-center
            .justify-content-center.w-100
                a(href="#").d-block.video-btn
                    img(src=imgdir+"play.png" alt="")
                h2.video-title.my-5  EXPLORE LIFE FITNESS
                h3.video-title2  Watch Now !
