.main-color {
  color: $main-color;
}
.second-color {
  color: $second-color;
}
.main-bg {
  color: $main-color;
}
.second-bg {
  color: $second-color;
}

.main-title {
  font-size: 5rem;
  color: #ffffff;
  text-shadow: -1px -1px 0 $second-color, 1px -1px 0 $second-color,
    -1px 1px 0 $second-color, 1px 1px 0 $second-color;
}
.second-title {
  font-size: 5rem;
  color: #ffffff;
  text-shadow: -1px -1px 0 $main-color, 1px -1px 0 $main-color,
    -1px 1px 0 $main-color, 1px 1px 0 $main-color;
}
