footer {
  background-image: url(../images/banner2.png);
  background-size: cover;
  min-height: 500px;
  h2 {
    color: #ee6c0c;
    font-size: 3.5rem;
  }
  input,textarea{
      font-size: 1.5rem !important;
      background: none;
      border: none ;
      color: #fff !important

  }
}
