header {
  .carousel {
    .carousel-indicators {
      li {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $main-color;
      }
    }
    .carousel-item {
      &.slide-1 {
        background-image: url("../images/bg-slide1.png");
        background-position: left top;
        .content {
          top: 10%;
        }
        img {
          right: auto;
          left: -208px;
          position: relative;
        }
      }
      &.slide-2 {
        background-image: url("../images/bg-slide2.png");
        background-position: -20% 0px;
        .content {
          top: 10%;
        }
      }
      background-position: left top;
      background-repeat: no-repeat;
      .slide-number {
        position: relative;
        top: 5%;
        left: 15%;
        font-size: 31rem;
        opacity: 0.2;
        color: #ffffff;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000;
      }
      .img {
        left: auto;
        right: 0;
        top: 10%;
      }
      .slide-title {
        font-size: 10rem;
        color: #ffffff;
        text-shadow: -1px -1px 0 $main-color, 1px -1px 0 $main-color,
          -1px 1px 0 $main-color, 1px 1px 0 $main-color;
      }
      p {
        width: 80%;
        color: $second-color;
      }
    }
  }
}
