nav {
  z-index: 999;
  .navbar-brand {
    color: $main-color;
    font-size: 145%;
    span {
      color: $second-color;
      font-family: $head-font;
      font-weight: bold;
      font-size: 150%;
    }
  }
  .ion-icon {
    font-size: 2rem;
  }

  @media (max-width: 768px) {
    .navbar-collapse {
      background-color: #fff;
    }
  }
  .nav-link {
    color: $main-color;
  }
}
