- var imgdir = "./images/"
doctype html
html(lang="en")
    include ./layouts/head
    body
        include ./layouts/nav
        include ./layouts/header
        include ./partials/about
        include ./partials/courses
        include ./partials/trainers
        include ./partials/schedule
        include ./partials/video
        include ./partials/testimonials
        include ./layouts/footer
        script( src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
        script( src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script( src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
        script( src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js')
        script( src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js")
        script( src="./js/main.js")