footer.py-5#contact
    .container
        h2 Contact Us
        form(method='post' action='').row
            input(type="email" name="email" placeholder="E-mail").col-12.border-bottom.border-white.mb-3
            input(type="text" name="subject" placeholder="Subject").col-12.border-bottom.border-white.mb-3
            textarea(name="message" placeholder="Your Message").mt-4.col-12.border-bottom.border-white.mb-3
            input(type="submit" value="Submit").btn.border.border-white.mt-3.col-12