header.container-fluid
    div(id="header-carousel" class="carousel slide" data-ride="carousel")
        ol(class="carousel-indicators")
            li(data-target="#header-carousel" data-slide-to="0" class="active")
            li(data-target="#header-carousel" data-slide-to="1")
        div(class="carousel-inner")
            div(class="carousel-item slide-1 active" data-interval="5000")
                .row.position-relative.content
                    div(class="col-6 d-lg-block d-none")
                        img(src=imgdir+"slide1.png" alt="...").position-relative
                    div(class="col-12 col-lg-6")
                        h2.slide-number.position-absolute 1
                        h4.slide-title RUN AN EXTRA <br> MILE EASILY 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            | Tempora, tempore rerum? Dicta laboriosam maiores maxime voluptatibus sapiente quaerat. Enim neque quis quibusdam sunt! Fugit quod accusantium tempora officiis quia veritatis.
            div(class="carousel-item slide-2" data-interval="5000")
                .row.position-relative.content
                    div(class="col-6 d-lg-block d-none")
                        img(src=imgdir+"slide2.png" alt="...")
                    div(class="col-12 col-lg-6")
                        h2.slide-number.position-absolute 2
                        h4.slide-title Build <br>Your Body  
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            | Tempora, tempore rerum? Dicta laboriosam maiores maxime voluptatibus sapiente quaerat. Enim neque quis quibusdam sunt! Fugit quod accusantium tempora officiis quia veritatis.