head
    title Bluk Gym
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Sans:500,700&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap")
    link(rel="stylesheet", href="css/main.css")
    