nav(class="navbar navbar-expand-lg p-0 m-0 w-100 position-absolute")
    .container
        a(class="navbar-brand" href="#") Bulk
            span Gym
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            ion-icon(name="ellipsis-vertical-outline")

        div(class="collapse navbar-collapse mr-auto" id="navbarSupportedContent")
            ul(class="navbar-nav ml-auto")
                li(class="nav-item mx-3")
                    a(class="nav-link" href="#about") About 
                li(class="nav-item mx-3")
                    a(class="nav-link" href="#courses") Courses
                li(class="nav-item mx-3")
                    a(class="nav-link" href="#trainers") Trainers
                li(class="nav-item mx-3")
                    a(class="nav-link" href="#schedule") Schedule
                li(class="nav-item mx-3")
                    a(class="nav-link" href="#testimonials") Testimonials
                li(class="nav-item mx-3")
                    a(class="nav-link" href="#contact") Contact us
